NEXT_PUBLIC_API_URL=http://localhost:8000
NEXT_PUBLIC_OPENWEATHER_API_KEY=
NEXT_PUBLIC_MAPBOX_API_KEY=
NEXT_PUBLIC_OPENAQ_API_KEY=
NEXT_PUBLIC_GEOCODING_API_KEY=
NEXT_PUBLIC_GEONAMES_USERNAME=demo
NEXT_PUBLIC_WEBSOCKET_URL=
